/* Carousel base class */

.carousel {
    padding-top: 50px;
    height: 500px;
    margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
    z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel .item {
    min-height: 500px;
    background-color: #777;
}
.carousel-inner > .item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: auto;
}
/*responsive height media queries*/

@media (min-width: 320px) and (max-width:479px){
    .carousel {
        height: 180px;
        margin-bottom: 60px;
    }

    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 180px;
        background-color: #777;
    }

    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
    }

}

@media (min-width: 480px) and (max-width:769px) {
    .carousel {
        height: 250px;
        margin-bottom: 60px;
    }

    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 250px;
        background-color: #777;
    }

    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .carousel {
        height: 320px;
        margin-bottom: 60px;
    }

    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 320px;
        background-color: #777;
    }

    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .carousel {
        height: 413.33px;
        margin-bottom: 60px;
    }

    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 413.33px;
        background-color: #777;
    }

    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
    }
}
@media (min-width: 1200px) {
    .carousel {
        height: 500px;
        margin-bottom: 60px;
    }

    /* Since positioning the image, we need to help out the caption */
    .carousel-caption {
        z-index: 10;
    }

    /* Declare heights because of positioning of img element */
    .carousel .item {
        min-height: 500px;
        background-color: #777;
    }

    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
    }
}



